.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 10%;
    height: 100vh;
    grid-template-areas:
    "nav"
    "content"
    "foot";
}

header {
    display: flex;
    justify-content:flex-start
}

#menu-lateral{
    position: fixed;
    top: 0;
    left: -300px; /* Largura negativa para ele sumir */
    width: 300px;
    height: 100vh;
    background-color: #f7f7f7;
    transition: all 0.3s;
    z-index: 1000;
}

/* Remove os pontinhos pretos da lista */
#menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/* Estiliza o item da lista e o link */
#menu-lateral ul li a {
    text-decoration: none; /* Tira o sublinhado */
    color: #333;           /* Define uma cor sóbria */
    display: block;        /* Faz o link ocupar a linha toda (melhora o clique) */
    padding: 15px 25px;    /* Espaçamento interno */
    font-size: 1.1rem;
    transition: background 0.3s, color 0.3s; /* Transição suave */
}

/* Quando o JS adiciona a classe .ativo */
#menu-lateral.ativo {
    transform: translateX(300px); /* Move para dentro da tela */
}

#overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
    /* Estado inicial: Invisível mas 'vivo' */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/* Quando ganha a classe .ativo */
#overlay-menu.ativo {
    opacity: 1;
    visibility: visible;
}

#menu-lateral div:first-child {
    display: flex;
    justify-content: space-between; /* Empurra o h3 pra esquerda e o botão pra direita */
    align-items: center;            /* Alinha os dois verticalmente no centro */
    padding: 8px 20px;
    border-bottom: 1px solid #eee;  /* Uma linha sutil para separar o cabeçalho do menu */
}

.nav{
    grid-area: nav;
    background-color: #ffcc00;
    padding-bottom: 60px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.1);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.content{
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #fffff1;
    gap: 40px;
    padding: 50px 0;
}

.paragrafo-content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fffff5;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0 20px;
}

.footer{
    grid-area: foot;
    background-color: #ffcc00;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}