.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 10%;
    height: 100vh;
    grid-template-areas:
    "nav"
    "content"
    "foot";
}

#menu-lateral{
    position: fixed;
    top: 0;
    left: -300px; /* Largura negativa para ele sumir */
    width: 300px;
    height: 100vh;
    background-color: #f7f7f7;
    transition: all 0.3s;
    z-index: 1000;
}

/* Quando o JS adiciona a classe .ativo */
#menu-lateral.ativo {
    transform: translateX(300px); /* Move para dentro da tela */
}

#overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
    /* Estado inicial: Invisível mas 'vivo' */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/* Quando ganha a classe .ativo */
#overlay-menu.ativo {
    opacity: 1;
    visibility: visible;
}

.nav{
    grid-area: nav;
    background-color: #ffcc00;
    padding-bottom: 60px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.1);
}

.content{
    grid-area: content;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #fffff1;
    gap: 40px;
    padding: 50px 0;
}

.paragrafo-content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fffff5;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0 20px;
}

.footer{
    grid-area: foot;
    background-color: #ffcc00;
}